doctype html
html(lang='pl')
  include ./head.pug
  body
    .container
      include ./header.pug
      .main
        .bad_path
          h2 Ooops!
          h3 Brak strony o podanym adresie
      include ./footer.pug
    script(src="/hamburger.js")