footer
  p Copyright 2019 Habitat for Humanity Poland
  p Web design 
    a(href='https://github.com/freefrogs', target='_blank') Justyna
    span  i 
    a(href='https://github.com/Kombajn27', target='blank') Ariel