footer
  nav
    a(href='http://habitat.pl/' target='_blank')
      img.logo(src='/HabitatForHumanity_logo.png' alt='Habitat For Humanity logo')
    p 
      span odwiedź nas na: 
      a.fa_icon.facebook(href='https://www.facebook.com/HabitatPL/' target='blank')
        i.fa.fa-facebook
      a.fa_icon.twitter(href='https://twitter.com/habitatpl/' target='blank')
        i.fa.fa-twitter
      a.fa_icon.youtube(href='https://www.youtube.com/channel/UCxGiVP--I6r4jkoAEibYyrA/' target='blank')
        i.fa.fa-youtube
      a.fa_icon.instagram(href='https://www.instagram.com/habitatforhumanitypoland/' target='blank')
        i.fa.fa-instagram
  .copyright
    p Copyright 2020 Habitat for Humanity Poland
    p Web design 
      a(href='https://freefrogs.github.io/AboutMe/' target='_blank') Justyna
      span  i 
      a(href='https://github.com/Kombajn27' target='blank') Ariel