doctype html
html(lang='pl')
  include ./head.pug
  body
    .container.containerGame
      include ./header.pug
      .main.game
        h1 Restoraki kontra Śmieciuch
        .path
          h2 Cel
          p Zdobądź supermoce, uzupełnij zasoby magicznego piasku i pokonaj złego Śmieciucha
        .path
          h2 Fabuła
          p Naszą dzielnicę nawiedził straszny i okrutny Śmieciuch. Jego słudzy rozleźli się po okolicy, zostawiając wszędzie ślady swojej obecności. Cała nadzieja w grupie superbohaterów spod znaku drużyny ReStore, którzy stawią czoło Śmieciuchowi i jego bandzie. Zostań członkiem tej drużyny, weź udział w grze, zdobądź supermoce. Wspólnie z innymi ReStorakami pokonaj złego Śmieciucha.
        .path
          h2 Wskazówki
          p Wśród zakładek znajdziecie mape na której zaznaczone są miejsca gdzie znajdują się pomocnicy Restoraków. Gdy już dotrzecie we wskazane miejsce szukajcie osób w kraciastych koszulach, ogrodniczkach i kaskach. Każdy z pomocników będzie miał dla Was zadanie. Po realizacji zadania otrzymacie kod który odblokuje jedną z supermocy oraz zwiększy ilość Waszego kolorowowego piasku, dzięki którym pokonacie złego Śmieciucha.
        .path
          h2 Zadania
          div.status
            p.error=errorText
          form(method='POST' action='/game/:id')
            p Zadanie 1:
            if power1
              i.fa.fa-check-circle
            else
              input(type='text' name='code' class='code' placeholder='Tu wpisz kod')
              input(type="checkbox" class='task' name='power' value='task1' checked)
              button.mainButton(type='submit') zatwierdź kod
          form(method='POST' action='/game/:id')
            p Zadanie 2:
            if power2
              i.fa.fa-check-circle
            else
              input(type='text' name='code' class='code' placeholder='Tu wpisz kod')
              input(type="checkbox" class='task' name='power' value='task2' checked)
              button.mainButton(type='submit') zatwierdź kod
          form(method='POST' action='/game/:id')
            p Zadanie 3:
            if power3
              i.fa.fa-check-circle
            else
              input(type='text' name='code' class='code' placeholder='Tu wpisz kod')
              input(type="checkbox" class='task' name='power' value='task3' checked)
              button.mainButton(type='submit') zatwierdź kod
          form(method='POST' action='/game/:id')
            p Zadanie 4:
            if power4
              i.fa.fa-check-circle
            else
              input(type='text' name='code' class='code' placeholder='Tu wpisz kod')
              input(type="checkbox" class='task' name='power' value='task4' checked)
              button.mainButton(type='submit') zatwierdź kod
          form(method='POST' action='/game/:id')
            p Zadanie 5:
            if power5
              i.fa.fa-check-circle
            else
              input(type='text' name='code' class='code' placeholder='Tu wpisz kod')
              input(type="checkbox" class='task' name='power' value='task5' checked)
              button.mainButton(type='submit') zatwierdź kod
        .path
          h2 Punkty
          h4 Twoje supermoce:
          .powers
            if power1
              .super.super1
            else
              .super
            if power2
              .super.super2
            else
              .super
            if power3
              .super.super3
            else
              .super
            if power4
              .super.super4
            else
              .super
            if power5
              .super.super5
            else
              .super
          h4 Twoje zasoby kolorowego piasku:
          .dust
        .path
          h2 Część praktyczna
          p Gra trwa od godziny 12:00 do 15:00. O godzinie 15:00 musicie być na miejscu zakończenia gry, do którego zaprowadzą was wskazówki podane przez Animatorów (nawet jeżeli nie uda się wykonać wszystkich zadań).
          p W razie jakichkolwiek kłopotów w trakcie gry pomoc możecie uzyskać pod numerem telefonu: 
            span 123 456 789
          p Chcemy by ta gra była dla wszystkich świetną zabawą. W związku z tym prosimy żebyście się kierowali zasadami fair play, rzetelnie realizowali zadania, nie przeszkadzali oraz nie pomagali innym zespołom.
      include ./footer.pug
    script(src="/hamburger.js")