head
    meta(charset=UTF-8)
    title RestoreCityGame
    meta(name='viewport', content='width=device-width initial-scale=1.0')
    link(href='https://fonts.googleapis.com/css?family=Lato:400,700&display=swap' rel='stylesheet')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css")
    style
      include ./style.css