header
  nav
    a(href='http://habitat.pl/restore/' target='_blank')
      img.logo(src='/ReStore_logo.png' alt='ReStore logo')
    ul
      li
        a(href='/') home
      li
        a(href='/register') rejestracja
      li
        a(href='/login') logowanie
    