head
    meta(charset=UTF-8)
    title RestoreCityGame
    meta(name='viewport' content='with=device-vidth, initial-scale=1.0')
    link(rel='shortcut icon' href='img/favicon.ico')
    link(href='https://fonts.googleapis.com/css?family=Lato:400,900&display=swap' rel='stylesheet')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css")
    style
      include ./style.css