header
  nav.navigation
    a(href='http://habitat.pl/restore/' target='_blank')
      img.logo(src='/ReStore_logo.png' alt='ReStore logo')
    if (team && team.isAdmin)
      ul.navBig
        li
          a(href='/') home
        li
          a.restore(href='/restore') ReStore
        li
          a(href='/teams') Drużyny
        li
          a(href='/logout') Wyloguj
      label.navSmall
        input(type="checkbox")
        span.menu
          span.hamburger
        ul
          li
            a(href='/') home
          li
            a.restore(href='/restore') ReStore
          li
            a(href='/teams') Drużyny
          li
            a(href='/logout') Wyloguj
    else if (team && team.name)
      ul.navBig
        li
          a(href='/') home
        li
          a.restore(href='/restore') ReStore
        li
          a(href='/game/' + team._id) Gra
        li
          a(href='https://www.google.com/maps/d/u/0/edit?mid=1aKek9ZXZ9kBHuXsWgrPzkWRIsfVnHfeX&ll=52.29638516987566%2C21.027187198626734&z=15' target='_blank') Mapa
        li
          a(href='/logout') Wyloguj
      label.navSmall
        input(type="checkbox")
        span.menu
          span.hamburger
        ul
          li
            a(href='/') home
          li
            a.restore(href='/restore') ReStore
          li
            a(href='/game/' + team._id) Gra
          li
            a(href='https://www.google.com/maps/d/u/0/edit?mid=1aKek9ZXZ9kBHuXsWgrPzkWRIsfVnHfeX&ll=52.29638516987566%2C21.027187198626734&z=15' target='_blank') Mapa
          li
            a(href='/logout') Wyloguj
    else
      ul.navBig
        li
          a(href='/') home
        li
          a.restore(href='/restore') ReStore
        li
          a(href='/register') rejestracja
        // li
          a(href='/login') logowanie
      label.navSmall
        input(type="checkbox")
        span.menu
          span.hamburger
        ul
          li
            a(href='/') home
          li
            a.restore(href='/restore') ReStore
          li
            a(href='/register') rejestracja
          // li
            a(href='/login') logowanie