header
  nav
    a(href='/')
      img.logo(src='/ReStore_logo.png')
    ul
      li
        a(href='/') home
      li
        a(href='/register') rejestracja
      li
        a(href='/login') logowanie
    