doctype html
html(lang='pl')
  include ./head.pug
  body
    .container
      include ./header.pug
      .main.register
        h1 ReStore City Game Logowanie
        form(method='POST' action='/login')
          input(type='text' name='name' class='name' placeholder='Nazwa drużyny lub E-mail' autocomplete='new-password')
          input(type='password' name='password' class='password' placeholder='Hasło')
          div.status
            p.error=errorText
          button.mainButton(type='submit') zaloguj
        p W razie jakichkolwiek problemów skontaktuj się z naszym koordynatorem:  
          span ewieczorek@habitat.pl
      include ./footer.pug
    script(src="/login.js")
    script(src="/hamburger.js")