doctype html
html(lang='pl')
  include ./head.pug
  body
    .container
      include ./header.pug
      .main
        h1 ReStore City Game
        h3 21.03.2020
        p Naszą dzielnicę nawiedził straszny i okrutny Śmieciuch. Jego słudzy rozleźli się po okolicy, zostawiając wszędzie ślady swojej obecności. <br/> Cała nadzieja w grupie superbohaterów spod znaku drużyny ReStore, którzy stawią czoło Śmieciuchowi i jego bandzie. Zostań członkiem tej drużyny, weź udział w grze, zdobądź supermoce. Wspólnie z innymi ReStorakami pokonaj złego Śmieciucha.
        h3 Dowiedz się więcej:
        iframe(src="https://www.youtube.com/embed/tgbNymZ7vqY")
        h3 Garść praktycznych informacji:
        ul
          li Spieszcie się, liczba miejsc jest ograniczona.
          li Drużyna może liczyć od 1 do 4 osób.
          li Czas trwania gry to około 3 godziny (rejestracja od 13:45 do 14:15).
          li W trakcie gry drużyny mogą poruszać się wyłącznie pieszo.
          li W trakcie gry zespoły nie mogą się rozdzielać i realizować zadań mniejszymi grupami.
          li W trakcie gry zespoły nie mogą wymieniać się informacjami, przedmiotami, zdjęciami.
        p Zadania będą miały charakter edukacyjny. Dzięki nim dowiecie się w jaki sposób postępować ze śmieciami i jak sprawić, żeby było ich mniej wokół nas. Zyskasz także wiedzę na temat ekonomii cyrkularnej, sklepu ReStore oraz problemów ekologicznych Warszawy.
        h3 Nagrody:
        p Dla trzech drużyn, które zdobędą najwięcej punktów oraz wykonają wszystkie zadania w jak najkrótszym czasie przewidziane są bardzo atrakcyjne nagrody:
        h6.prize Pierwsze miejsce: Kamera Sportowa 4K z dwoma ekranami MM9358 Dual Active.
        h6.prize Drugie miejsce: Słuchawki bezprzewodowe.
        h6.prize Trzecie miejsce: Gry planszowe.
        p Dodatkowo dla każdej drużyny, która podejmie się wyzwania i stawi się na zakończeniu gry przewidziany jest drobny upominek :-).
        h3 Przejdź do 
          a(href='/register') rejestracji
      include ./footer.pug
    script(src="/hamburger.js")