doctype html
html(lang='pl')
  head
    meta(charset=UTF-8)
    title RestoreCityGame
    meta(name='viewport' content='with=device-vidth, initial-scale=1.0')
    style
      include ./style.css
  body
    .main_container
      include ./header.pug
      h3 App under construction!
    include ./footer.pug