doctype html
html(lang='pl')
  include ./head.pug
  body
    .container
      include ./header.pug
      .main
        h1 Centrum ReStore
        h3 Wielkie otwarcie 14.03.2020r
        p Centrum ReStore to przestrzeń skupiająca działania prospołeczne oraz sklep dobroczynny.
        p Choć trzonem Centrum ReStore będzie sklep ReStore, nie będzie to miejsce służące wyłącznie do robienia zakupów. Będzie to również przestrzeń na prowadzenie warsztatów rzemieślniczych, działań edukacyjnych z obszaru ekologii i ekonomii cyrkularnej, gdzie wspierana będzie twórczość rzemieślnicza i prowadzone będą działania na styku wytwórczości i kultury oraz aktywizacji zawodowej.
        h3 Ty też możesz pomóc
        p ReStore’y to sklepy, które oferują niedrogie materiały i narzędzia budowlane, artykuły AGD, meble i inne artykuły wyposażenia wnętrz. Ich oferta obejmuje produkty zarówno nowe, jak i używane, przy czym wszystkie pochodzą z darowizn przekazywanych przez firmy i osoby prywatne. Przychody poszczególnych sklepów w całości trafiają do lokalnych organizacji Habitat for Humanity, które je prowadzą. Dzięki tym środkom organizacje mogą skuteczniej realizować wspólną im misję: pomagać osobom w trudnej sytuacji mieszkaniowej, np. poprzez projekty remontowe i budowlane.
      include ./footer.pug