doctype html
html(lang='pl')
  include ./head.pug
  body
    .container
      include ./header.pug
      .main.register
        h1 ReStore City Game Rejestracja
        if (quantity <= 3)
          form(method='POST' action='/register')
            input(type='text' name='name' class='name' placeholder='Nazwa drużyny' autocomplete='new-password')
            input(type='email' name='email' class='email' placeholder='E-mail' autocomplete='off')
            input(type='password' name='password' class='password' placeholder='Hasło')
            input(type='password' name='password2' class='password2' placeholder='Powtórz hasło')
            div.rodoBox
              input(type='checkbox' class='rodo' id='rodo') 
              label(for='rodo') Potwierdzam zapoznanie się i akceptuję 
                a(href='/rodo' target='_blank') regulamin
            div.status
              p.error=errorText
            button.mainButton(type='submit') zarejestruj
          p Po prawidłowej rejestracji otrzymasz maila potwierdzającego udział Twojej drużyny w grze.
          p W razie jakichkolwiek problemów skontaktuj się z naszym koordynatorem:  
            span ewieczorek@habitat.pl
        else
          .limit
            h3 Limit miejsc rejestracji elektronicznej został wyczepany.
            h3 Możesz jednak przyjść w dniu gry i odebrać pakiet startowy na miejscu.
            h3 Limit drużyn jest ograniczony, więc liczyć się będzie kolejność zgłoszeń. 
      include ./footer.pug
    script(src="/register.js")
    script(src="/hamburger.js")