doctype html
html(lang='pl')
  include ./head.pug
  body
    .container
      include ./header.pug
      .main.register
        h1 ReStore City Game Rejestracja
        form
          input(type='text' name="name" placeholder='Nazwa drużyny')
          input(type='email' name="email" placeholder='E-mail')
          input(type='password' name="password" placeholder='Hasło')
          input(type='password' name="password" placeholder='Powtórz hasło')
          div.status
          button.mainButton(type='submit') zarejestruj
        p Po prawidłowej rejestracji otrzymasz maila potwierdzającego udział Twojej drużyny w grze.
        p W razie jakichkolwiek problemów skontaktuj się z naszym koordynatorem 
          span example@example.com
      include ./footer.pug