doctype html
html(lang='pl')
  include ./head.pug
  body
    .container
      include ./header.pug
      .restoreBox
        h1 ReStore
        h3 ul. Łojewska 12 (Targówek)
        h2 Wielkie otwarcie 21.03.2020r
        p ReStore to sklep charytatywny oraz wyjątkowe i przyjazne dla środowiska miejsce, do którego zapraszamy wszystkich, którzy chcą nauczyć się majsterkować i naprawiać sprzęty domowe, oraz tych, którzy chcą się swoją wiedzą i umiejętnościami podzielić. ReStore jest miejscem oferującym możliwość udziału w wykładach i warsztatach dotyczących zagadnień ubóstwa mieszkaniowego, rozwoju miast, ekonomii cyrkularnej, oraz ochrony środowiska. Działa tam strefa edukacyjna dla dzieci i młodzieży, pozwalająca w sposób niebanalny i kreatywny zdobyć informacje o ekologii i otaczającym nas świecie.
        h3 Ty też możesz pomóc wspierając nas darowizną lub zakupem.
        p ReStore oferuje niedrogie meble, artykuły wyposażenia wnętrz i materiały budowalne. Wszystkie rzeczy, który możesz w nim kupić, pochodzą z darowizn przekazywanych przez firmy (końcówki kolekcji) oraz osoby prywatne (niezużyte materiały z remontu, używane meble itp.). Całkowity  dochód ze sprzedaży przeznaczony będzie na realizację misji Fundacji Habitat for Humanity Poland, czyli działania na rzecz poprawy efektywności polityki mieszkaniowej, walki z ubóstwem mieszkaniowym oraz przeciwdziała bezdomności. 
      include ./footer.pug
    script(src="/hamburger.js")