:root {
  --main_background: rgb(252,252,252);
  --font_family: 'Lato', sans-serif;
  --font: rgb(32,58,64);
  --details: rgb(0,175,216);
  --facebook: rgb(66,103,178);
  --twitter: rgb(29,161,242);
  --youtube: rgb(196,48,43);
  --instagram: radial-gradient(circle at bottom left, rgb(255,220,128), rgb(245,96,64), rgb(131,58,180), rgb(64,93,230));
  --hamburger_time: all .5s ease-in-out;
  --transform-anim: -55%;
}

/* keyframes */ 
@keyframes animateSand {
  0% { transform: translate(-50%, var(--transform-anim)) rotate(0deg);}
  100% { transform: translate(-50%, var(--transform-anim)) rotate(360deg);}
}
 @keyframes animateColor {
  0% { background-color: rgba(255, 50, 0, 0.8); }
  20% { background-color: rgba(220, 0, 0, 0.8); }
  40% { background-color: rgba(0, 0, 220, 0.8); }
  60% { background-color: rgba(0, 220, 0, 0.8); }
  80% { background-color:rgba(238, 255, 0, 0.6); }
  100% { background-color: rgba(255, 50, 0, 0.8); }
 }

/* Genaral */
*, *:before, *:after {
  box-sizing: border-box;
}

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font_family);
  background-color: var(--main_background);
  color: var(--font);
  background-image: url('/meble.png');
  min-width: 360px;
}

.container {
  width: 80%;
  max-width: 1600px;
  margin: 2% auto;
  padding: 2%;
  min-height: 90vh;
  box-shadow: 0 0 10px var(--details);
  background-color: rgba(255,255,255,0.9);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1, h3 {
  text-align: center;
  padding: 10px 0;
}

h1 {
  padding-bottom: 0;
  width: 60%;
  margin: 15px auto;
  border-bottom: 2px solid var(--details);
}

nav, .copyright, nav ul, footer nav p, .powers, .path form {
  display: flex;
  align-items: center;
}

form {
  width: 80%;
  margin: 10px auto;
  padding: 10px;
}

.mainButton, input {
  display: block;
  border: none;
  outline: none;
  font-family: var(--font_family);
  font-size: 16px;
  margin: 30px auto;
  transition: all 0.6s;
}

.mainButton {
  padding: 10px 20px;
  text-transform: uppercase;
  background-color: var(--details);
  border-radius: 5px;
  color: var(--main_background);
  cursor: pointer;
}

.mainButton:hover {
  background-color: var(--font);
}

input {
  width: 70%;
  border-bottom: 1px solid var(--details);
}

input:focus {
  border-bottom: 1px solid var(--font);
}

/* Navigation */
nav {
  padding: 10px;
  background-color: var(--details);
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}

.overflow {
  overflow: visible;
}

nav .navBig, footer nav p {
  justify-content: space-evenly;
}

nav .navBig li {
  min-width: 150px;
  text-align: center;
  text-transform: uppercase;
  transition: all .4s;
}

nav .navBig li a {
  color: var(--main_background);
  font-weight: 700;
  font-size: 18px;
  transition: all .4s;
}

nav .navBig li a:hover {
  text-shadow: 0 5px 5px var(--font);
}

nav .navBig li:hover {
  transform: scale(1.1);
}

nav img {
  padding: 10px;
  max-width: 150px;
  transition: all 0.5s;
}

nav img:hover {
  box-shadow: 0 0 5px var(--main_background);
}

/* Hamburger */
.navSmall {
  display: none;
}

.menu {
  position: absolute;
  right: -100px;
  top: -100px;
  width: 200px;
  height: 200px;
  background-color: var(--main_background);
  border-radius: 50%;
  transition: var(--hamburger_time);
  box-shadow: 0 0 0 0 var(--main_background), 0 0 0 0 var(--main_background);
  cursor: pointer;
}

.hamburger {
  position: absolute;
  top: 135px;
  left: 50px;
  width: 30px;
  height: 2px;
  background-color: var(--font);
  display: block;
  transform-origin: center;
  transition: var(--hamburger_time);
}

.hamburger:after, .hamburger:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  background-color: var(--font);
}

.hamburger:after {
  top: -10px;
  transition: var(--hamburger_time);
}

.hamburger:before {
  top: 10px;
  transition: var(--hamburger_time);
}

.navSmall input {
  display: none;
}

.navSmall input:checked + .menu {
  box-shadow: 0 0 0 100vw var(--main_background), 0 0 0 100vh var(--main_background);
  border-radius: 0;
}

.navSmall input:checked + .menu .hamburger {
  transform: rotate(45deg);
}

.navSmall input:checked + .menu .hamburger:after {
  opacity: 0;
}

.navSmall input:checked + .menu .hamburger:before {
  transform: rotate(90deg);
  top: 0;
}

.navSmall input:checked + .menu + ul {
  top: 50%;
}

.navSmall ul {
  height: 30vh;
  position: absolute;
  z-index: 10;
  transition: var(--hamburger_time);
  top: -200px;
  left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  transform: translate(-50%,-50%);
}

.navSmall ul a {
  font-weight: 700;
  font-size: 18px;
  color: var(--font);
  text-transform: uppercase;
}

/* Home */
.main p {
  text-align: justify;
}

/* Register/Login */
.register p {
  text-align: center;
  padding: 5px;
}

.register p span {
  color: var(--details);
  font-weight: 700;
}

.status p {
  padding: 2px;
  font-weight: 700;
  color: var(--youtube);
}

.error {
  font-size: 25px;
}

/* Game */

.containerGame h1 {
  border: none;
}

.containerGame h2 {
  color: var(--details);
  margin-bottom: 15px;
}

.powers {
  justify-content: space-evenly;
  padding: 20px;
}

.fa-check-circle {
  font-size: 30px;
  color: rgb(42, 191, 19);
  padding-left: 20px;
}

.super {
  width: 7vw;
  height: 7vw;
  margin: 1vw;
  box-shadow: 0 0 5px var(--font);
  border-radius: 50%;
  background-size: cover;
}

.super1 {
  background: red;
}

.super2 {
  background: blue;
}

.super3 {
  background: greenyellow;
}

.super4 {
  background: hotpink;
}

.super5 {
  background: lawngreen;
}

.dust {
  margin: 20px auto;
  width: 200px;
  height: 300px;
  border-radius: 0 0 40% 40%;
  box-shadow: 0 0 5px var(--font);
  position: relative;
  overflow: hidden; 
}

.liquid {
  position: relative; 
  left: 0; 
  top: 0; 
  width: 100%;
  height: 100%;
  background: orangered;
  animation: animateColor 15s linear infinite;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

.liquid::before, .liquid::after {
  content: '';
  position: absolute;
  width: 300%;
  height: 200%;
  top: 0; 
  left: 50%;
  background-color: #000;
  transform: translate(-50%, var(--transform-anim));
}

.liquid::before {
  border-radius: 48%;
  background: rgba(200, 200, 200, 1);
  animation: animateSand 6s linear infinite;
}

.liquid::after {
  border-radius: 45%;
  background: rgba(200, 200, 200, 0.4);
  animation: animateSand 12s linear infinite;
}

.path {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  border-top: 2px solid var(--details)
}

.path:nth-of-type(odd) {
  border-right: 4px solid var(--details);
}

.path:nth-of-type(odd) * {
  text-align: right;
}

.path:nth-of-type(even) {
  border-left: 6px solid var(--details);
}

.path:nth-of-type(even) * {
  text-align: left;
}

.path form {
  padding: 5px;
  margin: 0;
}

.path form p {
  text-transform: uppercase;
}

.path .mainButton, .path input {
  margin: 10px auto;
}

.path .mainButton {
  font-size: 14px;
}

.containerGame .path input {
  width: 150px;
  padding: 10px;
  border: 2px solid var(--details);
  border-radius: 5px;
  text-align: center;
}

.task {
  display: none;
}

/* Footer */
footer {
  background-color: var(--font);
  color: var(--main_background);
  margin-top: 20px;
  padding: 10px;
}

footer nav {
  background-color: var(--font);
}

footer a {
  color: rgba(252,252,252,0.7);
  transition: all 0.6s;
}

footer nav p span {
  text-transform: uppercase;
  font-weight: 700;
}

footer nav p {
  width: 50%;
}

.copyright {
  justify-content: space-around;
  padding: 10px 0;
  color: rgba(252,252,252,0.5);
}

.copyright a:hover {
  color: rgba(252,252,252,1);
}

footer .fa_icon {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 2px;
  font-size: 26px;
  text-align: center;
  color: rgba(252,252,252,1);
}

footer .fa_icon:hover {
  transform: scale(1.1);
  box-shadow: 0 2px 10px var(--details);
}

.facebook {
  background: var(--facebook);
}

.twitter {
  background: var(--twitter);
}

.youtube {
  background: var(--youtube);
}

.instagram {
  background: var(--instagram);
}

/* Teams info for admin */

.teams_admin, .emails_string {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
}

.table_data {
  margin: 10px;
  border-collapse: collapse;
}

.table_data th {
  border: 1px solid var(--font);
  padding: 5px 0px;
  font-size: 0.5em;
}

.table_data caption {
  margin: 20px;
  font-size: 0.75em;
  font-weight: 700;
  color: var(--details);
}

.table_headings th {
  font-size: 0.65em;
  padding: 8px 0;
  background-color: var(--font);
  color: var(--main_background);
  font-weight: 700;
  border-right: 1px solid var(--main_background);
}

.table_headings th:last-child {
  border-right: 1px solid var(--font);
}

.emails_string {
  font-size: 16px;
  margin: 30px;
  display: none;
}

.emails_visible {
  display: block;
}

/* Bad path */

.bad_path {
  margin: 50px 0;
  text-align: center;
}

.bad_path h2 {
  font-size: 2.5rem;
  margin: 20px 0;
}

.bad_path h3 {
  font-size: 2rem;
}

/* RWD */
@media (max-width: 1100px) {
  /* Footer */
  footer nav p {
    width: 70%;
  }
}

@media (max-width: 900px) {
  /* General */
  h1 {
    width: 80%;
  }
  form, input {
    width: 90%;
  }
  .container {
    width: 90%;
  }
  /* Navigation */
  .navSmall {
    display: inherit;
  }
  .navBig {
    display: none;
  }
}

@media (max-width: 750px) {
  .path {
    width: 98%;
  }
  .super {
    width: 10vw;
    height: 10vw;
  }

  .table_data tr th:nth-child(2) {
    display: none;
  }
}

@media (max-width: 680px) {
  /* Footer */
  footer nav, .copyright {
    flex-wrap: wrap;
  }
  footer nav p {
    width: 100%;
  }
  .copyright p {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 600px) {
 .path form {
   flex-direction: column;
   box-shadow: 0 0 3px var(--font);
   margin-bottom: 10px;
 }
 .fa-check-circle {
  padding-left: 0;
 }
 .teams_admin {
   font-size: 1.75rem;
 }
}

@media (max-width: 490px) {
  footer .fa_icon {
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 18px;
  }
}