doctype html
html(lang='pl')
  include ./head.pug
  body
    .container
      include ./header.pug
      .main
        .teams_admin
          table.table_data
            caption Drużyny biorące udział w grze
            tr.table_headings 
              th Nazwa drużyny
              th E-mail kontaktowy
              th Ilość punktów
            each team in teams
              tr.team_data
                th=team.name
                th=team.email
                th=team.points
        .teams_email
          button.mainButton.email_button Pokaż dane kontaktowe
          p.emails_string=emails
      include ./footer.pug
    script(src="/admin.js")
    script(src="/hamburger.js")